.form-button {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    padding: 28px 32px; 
    font-size: 1.75rem;
    font-weight: bold;
    color: white;
    background-color: #034e7a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-button:hover {
    background-color: #034e7a;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.form-button:active {
    transform: scale(0.98);
}

@media only screen and (max-width: 620px) {
    .form-button {
        font-size: 1rem;
        padding: 16px 18px; 
    }
}

@media only screen and (max-width: 450px) {
    .form-button {
        width: 90%;
        font-size: 0.9rem;
        padding: 14px 16px;
    }
}
