.form-container {
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#enrollment-form {
    max-width: 960px;
    width: calc(100vw - 2rem);
    height: 470px;
}


@media only screen and (max-width: 620px){
    #enrollment-form {
        height: 500px;
    }
}
@media only screen and (max-width: 450px){
    #enrollment-form {
        height: 540px;
    }
}
@media only screen and (max-width: 400px){
    #enrollment-form {
        height: 600px;
    }
}
@media only screen and (max-width: 340px){
    #enrollment-form {
        height: 700px;
    }
}

.option {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.option-text {
    position: relative;
    z-index: 1;
}
