h1 {
  font-size: 2rem;
}

h1, h2 {
  color: white;
}

.parent-container {
  background: radial-gradient(#ffffff, #ffffff);
}

.child-container {  
  background: radial-gradient(#ADCDE500, #ffffff);
  overflow: hidden;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;

  /* Animation */
  animation: slide-in-left 1s ease-out forwards;
}


@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  transform: translateX(100%);
  opacity: 0;

  /* Animation */
  animation: slide-in-right 1s ease-out forwards;
}

@keyframes slide-in-up {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-up {
  transform: translateY(-100%);
  opacity: 0;

  /* Animation */
  animation: slide-in-up 1s ease-out forwards;
}


@keyframes slide-in-down {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-down {
  transform: translateY(100%);
  opacity: 0;

  /* Animation */
  animation: slide-in-down 1s ease-out forwards;
}

.titulo2 {
  color: #034E7A;
  font-weight: bold;
  font-size: clamp(16px, 5vw, 50px);

}

.titulo1 {
  color: #2E87B5;
  font-weight: bold;
    font-size: clamp(16px, 5vw, 42px);
}