@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
  font-family: 'Geist', sans-serif, Arial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  --bs-breakpoint-xs: 500px;
  --bs-breakpoint-sm: 640px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 1024px;
  --bs-breakpoint-xl: 1500px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body[data-theme="main-theme"] {
  --bg-color: #aecde5;
  --primary-color: #03507c;
  --secondary-color: #2f89b6;
  --text-color-banners: #FFF;
  --text-color-paragraphs: #333; 
}

body[data-theme="adult-theme"] {
  --bg-color: #e5d7ae;
  --primary-color: #fbc113;
  --secondary-color: #333;
  --text-color-banners: #FFF;
  --text-color-paragraphs: #333; 
}

