.card-container {
    padding: 2rem 2rem 0rem 2rem;
}

.titled-card {
    max-width: 960px;
    width: calc(100vw - 4rem);
    border-radius: 0.5rem;
    overflow: hidden;
}

.titled-card > :first-child {
    background-color: var(--primary-color);
    padding-left: 1rem;
    color: white;
}
