.images-container {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

/* CONTENEDOR PRINCIPAL */
.carousel {
    max-width: 720px;       
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
}

/* IMÁGENES */
.carousel img {
    width: 100%;
    height: 420px;          
    object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .carousel {
        max-width: 100%;
    }

    .carousel img {
        height: 260px;
    }
}
