.whythis {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulo2 {
    color: #FF9D00;
    font-weight: bold;
    font-size: 40px;
}

.titulo1 {
    color: #FF00D8;
    font-weight: bold;
}