.barranavegacion {
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.barranavegacion-social-icons {
    display: flex;
    gap: 15px;
}

.barranavegacion-social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.barranavegacion-social-icons a:hover img {
    transform: scale(1.1);
}

.barranavegacion-logo {
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.logo-container p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.barranavegacion-links a {
    text-decoration: none;
    color: #034E7A;
    font-size: 1rem;
    transition: color 0.3s ease;
    text-wrap-mode: nowrap;
}

.barranavegacion-links a:hover {
    color: #2E87B5;
    transition: color 0.3s ease;
}

.logoheader {
    transition: transform 0.3s ease;
}

.logoheader:hover {
    transform: scale(1.2);
    cursor: pointer;
}