header {
    background-color: #034e7af8;
}

h1, h2 {
    text-align: center;
}

header h1 {
    font-weight: 700;
    font-family: 'Rubik Vinyl', Arial, sans-serif
}

@media screen and (min-width: 576px) {
    .headers-container {
        margin-right: 96px;
    }
}

header h2 {
    font-size: 1.25rem;
}

#logo-dacpac {
    height: 64px;
    padding: 0.5rem;
    width: 64px;
}

.logo-container {
    background-color: white;
    border-radius: 9999999px;
    margin: 1rem;
}
