.whythis {
    align-items: center;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}



.divtexto {
    max-width: 600px;
    font-size: clamp(1px, 5vw, 16px);
}

.imgen-whychoose {
    width: 900px;
    margin-top: -30px;
}